<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク管理アプリケーション</title>
</head>
<body>
    <h1>タスク管理アプリケーション</h1>
    <h2>タスクの登録</h2>

    <form action="add"><!--javaに渡している-->
        <label>タスク</label>
        <!--ここでnameがないとjavaで受け取ることができない-->
        <input name="task" type="text">
        <input name="deadline" type="date">
        <input type="submit" value="登録">
    </form>


    <h2>現在のタスク一覧</h2>
    <table border="1">
        <!--trはtablerowのこと（無くても問題はない）-->
            <th>ID</th><th>タスク</th><th>期限</th><th>状態</th>
            <tr th:each="task:${taskList}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.task}"></td>
                <td th:text="${task.deadline}"></td>
                <td th:text="${task.done}?'完了':'未完了'"></td><!--trueかfalseか判定して完了化か未完了か表示-->
                <td>
                <form action="delete">
                    <button type="submit" id="delete_button">削除</button>
                    <input type="hidden" name="id" th:value="${task.id}"/>
                </form>
                </td>
            </tr>

    </table>
</body>
</html>